.hero-section {
  align-items: center;
  padding-inline: 1em;

  background-image: url("../../assets/section-background-frame.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 65%;

  .hero-heading-text {
    max-width: 940px;
    padding-block: 2em;
    gap: 10px;

    .hero-title-one {
      strong {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.2rem;
      }
      span {
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
          107deg,
          #00c8ff,
          #0ac3fb 11%,
          #599de1
        );
        -webkit-background-clip: text;
        background-clip: text;
        line-height: 2.2rem;
      }
    }
    .hero-title-two {
      strong {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
      em {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2.2rem;
      }
    }
  }

  .hero-video {
    gap: 2.5em;
    align-items: center;

    .button-wrapper {
      gap: 1.5em;
    }
  }
}

/* Tablet View */
@media screen and (min-width: 480px) {
  .hero-section {
    .hero-heading-text {
      padding: 3em 1em;
      text-align: center;

      .hero-title-one {
        strong {
          font-size: 2.75rem;
          line-height: 2.9rem;
        }
        span {
          line-height: 2.2rem;
        }
      }

      .hero-title-two em {
        font-size: 1.4rem;
      }
    }
  }
}

/* Desktop View */
@media screen and (min-width: 990px) {
}
